Spring-Boot-Web-Services-infra/.gradle/
Spring-Boot-Web-Services-infra/.settings/
Spring-Boot-Web-Services-infra/bin/
Spring-Boot-Web-Services-infra/build/
Spring-Boot-Web-Services-template/.project
Spring-Boot-Web-Services-template/.classpath
Spring-Boot-Web-Services-infra/gradle/
Spring-Boot-Web-Services-infra/.project
Spring-Boot-Web-Services-infra/.classpath
Spring-Boot-Web-Services-template/.gradle/
Spring-Boot-Web-Services-template/.settings/
Spring-Boot-Web-Services-template/build/
Spring-Boot-Web-Services-template/gradle/
